<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{margin: 0;padding: 0;}
			body{background: wheat;}
			#shop{
				height: 80px;
				background: white;
			}
			#shop>input{
				float: left;
			}
			h1{
				width: 100%;
				padding: 20px 0;
				background: cornflowerblue;
				color: white;
				text-align: center;
			}
			.shopname{
				float: left;
				width: 100px;
			}
			.num{
				float: left;
				width: 100px;
			}
			#shop>p{
				width: 150px;
				float: left;
			}
			.price{
				float: left;
				width: 150px;
			}
			.addshop{
				padding: 20px 0 0 0;
				height: 70px;
				background: white;
			}
		</style>
		<script src="node_modules/vue/dist/vue.js"></script> 
	</head>

	<body>
		<div id="box">
			<h1>购物车简易demo</h1><br />			
			<addshop @add='addsp'></addshop>
			<div v-for='(v,i) in list' id='shop'>
				<input type="checkbox" v-model="v.checkv" />
				<span class="shopname">{{v.name}}</span>
				<div class="num">
					<button @click="add(i)">+</button>
					{{v.counts}}
					<button @click="down(i)">-</button>					
				</div>
				<p>单价为：{{v.price}}</p>
				<!--价格为：<p style='display: inline;'>{{oneprice(i)}}</p>事件方法-->				
				<span class="price">价格为：{{listallprice[i]}}</span><!--计算属性方法-->
				<button @click="delone(i)">删除</button>
			</div>
			<br/><hr />总价格为：{{allprice}}【选中的才会累加，结算之后，欢迎下次光临^U^】
		</div>
		
		<template id="adds">
			<div class="addshop">
				<button @click='send()'>添加</button>
				<input type="text" v-model="addshop.name" placeholder="商品名"/>
				<input type="text" v-model='addshop.counts' placeholder="数量"/>
				<input type="text" v-model='addshop.price'/>
			</div>
		</template>
		
		<script>
			new Vue({
				el:'#box',
				data:{
					count:5,
					list:[
						{name:'手机',counts:0,price:6544,checkv:false},
						{name:'水杯',counts:0,price:565,checkv:false},
						{name:'雨伞',counts:0,price:56,checkv:false}
					]
				},
				methods:{
//					oneprice(index){//事件方法
//						return this.list[index].counts*this.list[index].price
//					},
					add(index){
						if(this.list[index].counts>=this.count){
							this.list[index].counts=this.count;
							alert('商品售罄');
						}else{
							this.list[index].counts+=1;
						}
					},
					down(index){
						this.list[index].counts-=1;
						if(this.list[index].counts<=0){
							this.list[index].counts=0;
						}
					},
					delone(index){
						if(this.list[index].checkv==false){
							alert('删除失败')
						}else{
							this.list.splice(index,1)//当前下标为空，并删除当前开始的个数1
						}
					},
					addsp(a){
						if(a.counts<=this.count&&a.name!=''){
							this.list.push({
								name:a.name,counts:a.counts,price:a.price,checkv:false
							})
							this.list.name=''
							this.list.counts=0
							this.list.price=Number('')							
						}else if(a.name==''){
							alert('请输入商品')
						}else{
							alert('数量只有'+this.count)							
						}
					}
				},
				computed:{
					allprice:function(){
						var allprc = 0;
						for(var i=0;i<this.list.length;i++){
							if(this.list[i].checkv==true){							
								var arr = this.list[i].counts*this.list[i].price;
								allarr.push(arr);
								allprc+=allarr[i]
							}
						}		
						return allprc
					},
					listallprice:function(){//计算属性法
						allarr=[]
						//一次性将所有计算出来的价格放进这个空数组里面
						for(var i=0;i<this.list.length;i++){
							var arr = this.list[i].counts*this.list[i].price;
							allarr.push(arr);								
						}
						return allarr
					}
				},
				components:{
					'addshop':{
						template:'#adds',
						data(){
							return{
								addshop:{name:'',counts:0,price:'',checkv:false}
							}
						},
						methods:{
							send(){
								this.$emit('add',this.addshop)
							}
						}
					}
				}
			})	
		</script>
	</body>

</html>