@charset "utf-8";
*{margin: 0;padding: 0;list-style: none;border: 0;outline: none;text-decoration: 0;}
html,body{
	position: relative;
	overflow: hidden;
}
#wrap,#wrap2{
	display: none;	
	background-color: #777;
}
.tabs{
	height: 50px;
	border-bottom: 1px solid #999;
	color: white;
}
.tabs>li{
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
/*pcVer*/
.pcTab{
	background-color: #999;
	border-bottom: 1px solid #999;
	color: #ccc;
}
.searchwrap{
	height: 40px;
}
.searchwrap>span{
	float: right;
	width: 40px;
	height: 40px;
	transform: scale(0.6);
}
.searchwrap>div{
	margin-right: 40px;
}
.searchwrap>div>div{
	padding:0 10px;
}
.searchwrap>div>div>input{
	width: 100%;
	font-size: 12px;
	padding: 13px 0;
	background-color: transparent;
	color: white;
}
.VPlayLeft{
	margin-right: 280px;
	height: 100%;	
}
.VPlayRight{
	float: right;
	width: 280px;
	height: 100%;
}
#pccont{
	overflow-y: scroll;
	overflow-x: hidden;
}
#pccont::-webkit-scrollbar{  
    width:4px;  
    height:4px;  
}  
#pccont::-webkit-scrollbar-track{  
    background: '';  
    border-radius:2px;  
}  
#pccont::-webkit-scrollbar-thumb{  
    background: #aaa;  
    border-radius:2px;  
}
#pccont:hover #pccont::-webkit-scrollbar-thumb{
	background:#aaa;
}
#pccont::-webkit-scrollbar-thumb:hover{  
    background: #747474;  
}  
#pccont::-webkit-scrollbar-corner{  
    background: #f6f6f6;  
}
.VPlayRight>p{
	height: 31px;
	background-color: #555;
	line-height: 31px;
	text-align: center;
	color: #888;
	font-size: 12px;
}
/*mobVer*/


/*video样式修正*/
.VPlayLeftdiv{
	height: 100%;
}
#my-video,#my-video2{
	width: 100%;
	height: 100%;
}
.video-js .vjs-big-play-button{
	top: auto !important;
	left: auto !important;	
	right: 20px !important;
}

.vjs-control-bar{
	opacity: 1 !important;
	height: 30px !important;
}

#VPlayLeftdivmob .video-js .vjs-big-play-button,#VPlayLeft .video-js .vjs-big-play-button{
	bottom: 50px;
}
#VPlayLeft .vjs-control-bar {
	bottom: -30px;
}

.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
.video-js .vjs-time-control{
	line-height: 30px !important;
}
.vjs-error .vjs-error-display:before{
	content: '';
}
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal{
	/*.video-js .vjs-volume-panel.vjs-volume-panel-horizontal:hover
	 * transition: visibility 1s, opacity 1s, height 1s 1s, width 1s, left 1s 1s, top 1s 1s
	 * 注释掉*/ 
	position: absolute;
	z-index: 1;
	bottom: 36px;
	left: -50px;
	background-color: rgba(43, 51, 63, .7);
}

