@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
}
html{
	overflow: hidden;
	position: relative;
}
body>div{
	min-width: 450px;
}
.topinputwrap,.topinput{
	background-color: #fff;
}
.topinputwrap{
	padding: 0 15px;	
	border-bottom: 1px solid #ccc;	
}
.topinput{
	width:100%;
	padding: 8.5px 0;
	font-size: 14px;
}
#leftwrap{
	float: left;
	width: 179px;
	background-color: #eee;
	padding-top: 10px;
	overflow: auto;
	position: relative;
	border-right: 1px solid #ccc;
}
#leftwrap>li{
	padding: 10px;
}
#leftwrap>li>img{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #fff;
}
#contwrap{
	margin-left: 180px;
	position: relative;
}
.contwraptop{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 39px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;	
	z-index: 1;
	line-height: 39px;
}
.contwraptop>div{
	display: inline-block;
	width: 25%;
}
.contwraptop>div>div{
	padding: 0 15px;
}
#cont{
	overflow: auto;
	position: relative;
}
#cont>div{
	padding-top: 40px;
}
.iconwrap{
	width: 140px;
	height: 55px;
	padding-top: 15px;
	float: left;
	overflow: hidden;
	position: relative;
}
.iconwrap>img{
	width: 40px;
	height: 40px;
	background-color: #ccc;
	border-radius: 50%;
	margin-left: 10px;
	float: left;
}
.iconwrap>p{
	margin-left: 60px;
}
/**/
.bottominfo{
	height: 59px;border-top: 1px solid #ccc;margin-top: 10px;background-color: #F6F6F6;
}
.bottominfo>img{
	float: left;
	width: 40px;
	height: 40px;
	background-color: #ccc;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 50%;
}
.bottominfo>div{
	margin-left: 60px;
	padding-top: 10px;
}
.bottominfo>div>p{
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.btiDec{
	font-size: 13px;
	color: #999;
}
