<!--
	如何处理tokenid？
		当删除的时候，tokenid的值能自己调整
		具体处理：
		当前删除的以下的tokenid进行减一操作（不包括当前的）
	express,端口被占用，可以通过bin里面的www文件进行修改
		var port = normalizePort(process.env.PORT || '3000');
	id重复状况：
		同时插入两条数据
		每次储存数据用的同一个变量，导致数据库认为每次储存都是同一条数据，只生成一个数据
	
	VUE.js
		之前的jq/bootstrap==》页面效果的实现
		目前比较火的框架：angular vue react==》侧重点是数据
		angular----M V XX这样的数据传输形式
		VUE的代码形式：
		只有一个带id的标签
		内容都是由$('id').html挂进去标签里面的
		VUE同样也是：MVVM==》M-model 数据，V-view 界面，VM-view model 中间的薄片层
			angular：M-数据，V-页面，C-控制器，但也是MVVM这样的数据双向传输
		VUE挂载把内容放到页面里面：
			一片html代码+new Vue的实例（json）
			实例：
			var vm = new Vue({//VUE的实例 VM薄片层
				el:'#ID',//挂载 声明我下面的所有数据都会提供给id的元素上面
				data:{
					message:'这是vue的M，数据层'
				}
			})
			input绑定：例如<input type="radio" value="eating" v-model='message' />
			普通元素绑定：<p>{{message}}</p>
			
		指令：
			v-if和v-show----表现形式就是显示或者隐藏，都可以用比较值的正负来表示布尔值
			v-if：删除，创建dom元素，等于布尔值或者能够产生布尔值的代码，true显示
			v-show：控制元素的形式,隐藏和出现元素，等于布尔值或者能够产生布尔值的代码，也是true显示
			如何绑定checkbox来控制元素消失出现
				<input type="checkbox" v-model='checked' />
				<div v-if='checked'>5414651541</div>
			vue2.0 添加的指令v-else、v-else-if，使用时需要配合v-if，和v-show没关系
		循环
			js的for循环嵌套过深会导致堆栈溢出
			1.0索引,$index 索引的
			v-for：循环数组：v-for=‘(value，index) in 目标数组’
				      循环对象：key：value键值对以及索引index
				      v-for='(value,key,index) in 对象'
		事件
			v-on：
				v-on:事件的名字=函数
				常用事件的名字：click，mouseover，mouseout
		
			键盘事件：
			keyup(键盘抬起事件)：v-on：keyup.键盘码=‘’
				组合键：keyup.alt，keyup.shift，keyup.ctrl,keyup.meta->开始菜单触发的组合键
				修饰符：keyup.enter,keyup.esc
		绑定属性：
			绑定Vue实例里面的数据到某个标签的属性上面），是单向的数据绑定，是‘v-bind：’，例如可以v-bind：src=‘src’，把data数据的src绑定到src那里
			然后class绑定：v-bind：class=‘{某个class内名：true或false}’，true为开关打开，绑定可以是纯对象，也可以是数组嵌套对象,
			绑定style：例如：v-bind:style='{border:"1px solid red"或者data里面某个字段，不加引号}'
			
		事件缩写：@事件=‘’，，，，，，，绑定缩写：  :标签属性=‘’
		vue处理数据处理的很好的，剩下的部分，jq/bootstrap/js来处理效果
		
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
