@charset "utf-8";
html,body{
	min-width: 704px;
	background-color: #eee;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
}
/* public */
.clboth{
	display: block;
	clear: both;
}
